<h1>New Movie List</h1>
<%= form_with(model: @list) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit 'Create List' %>
  </div>
<% end %>
